<div class="row" style="margin-top: 6rem">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Username</label>
        <input
          type="text"
          id="username"
          class="form-control"
          ngModel
          name="username"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minLength="6"
        />
      </div>
      <div>
        <button
          mat-flat-button
          color="primary"
          class="btn btn-primary"
          type="submit"
          [disabled]="!authForm.valid || isLoading"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
